<div class="card meetings cf">
 
  <div class="textintro">
    <h1>Search your favorites</h1>
    <p>Add, Rate, Tweet and Delete your favorite movies</p>
  </div>
  <form class="formgroup addmeeting cf">
      <div class="inputwrapper">
          <input type="text" placeholder="Search your favorites..." ng-model="query">
      </div>
  </form>
  <h2>Click your added movies to find out more and rate them</h2>
  <div class="meeting" id="like" ng-repeat="(key, favorite) in favorites | filter: query" ng-class="myfavorite.userState">
      <button class="btn btn-love" ng-click="showLove(favorite)"></button>
      <a ng-click="deleteMovie(key)"><button onclick="$.notify('Removed from favorites', 'info')" class="btn btn-del"></button></a>
      <span class="text favoriteItem"><a href="#!/details/{{currentUser.regUser}}/{{favorite.$id}}" ng-click="displayMovie(favorite)">{{favorite.title}}</a></span>
      <div class="showfavorite" ng-show="favorite.show">
          <form class="cf" name="myform" ng-submit="giveLove(favorite, favorite.comment)" novalidate>
              <input type="text" name="comment" placeholder="Comment" ng-model="favorite.comment" ng-required="true">
              <button class="btn" type="submit" ng-disabled="myform.$invalid">+</button>
          </form>
          <ul class="awardslist cf">
              <li class="cf" ng-repeat="(key, comment) in favorite.comments">
                <div class="buttons">
                  <button class="btn btn-del" ng-click="deleteLove(favorite, key)"></button>
                  <div class="award">{{comment.comment}}</div>
               </div>  
                  
              </li>
          </ul>
        
      </div> <!--Show comment box-->
  </div>
</div><!-- meetings cf -->